<h1>Partners</h1>

<table>
  <tr>
    <th>Nickname</th>
    <th>Email</th>
  </tr>

  <% @partners.each do |partner| %>
    <tr>
      <td><%= partner.nickname %></td>
      <td><%= partner.email %></td>
    </tr>
  <% end %>
</table>